*{
    margin:0;
    padding: 0;
}
.landingP{
    height: 80vh;
}

body {
    background: linear-gradient(#EE70D1 0%, #FFF 100%);
    background-repeat: no-repeat;
}
header {
display:flex;
justify-content: space-between;;
align-items: center;
}
.navLinks {
list-style: none;
display:flex;
font-family: 'Inria Serif';
}
.navLinks li{
   margin-left: 16px;
}
.navLinks li a{
    text-decoration: none;
    
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    
}
.navLinks li:hover {
background-color: aqua;
}

.star{
width: 7.5rem;
height: 7.375rem;
flex-shrink: 0;
float: left;
margin-top: 20px;
margin-left: 20px;

}
main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerText {
    font-size: 80px;
    font-family: 'Irish Grover';
    background: linear-gradient(180deg, #E319E7 0%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-right: 129px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    
}
hr {
    position: absolute;
    top: 88px;
    right: 0px;
    width: 50%;
        
  }
.mikuOferta{
    border-radius: 400px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 25.438rem;
    height: 25rem;
    margin-right: 100px;
    }
    .start2{
    width: 7.5rem;
    height: 7.375rem;
    position: absolute; 
    top: 427px;
    right: 96px;
        
        }
article{
    padding-left: 10px;
}
.discount{
    color: #000;
    text-align: justify;
    font-family: Irish Grover;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: #000 solid;
    border-radius: 7px;
    margin-left: 100px;
    display: inline-block;
    padding: 34px;
    
    }
.buttonRegistration .bRegis{
        width: 18.75rem;
        height: 6.25rem;
        border-radius: 4px;
        background: #3D023E;
        
        }
.bRegis{
        color:#FFF;
        text-align: center;
        font-family: 'Inria Serif';
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px 0px 0px 400px;
        margin-top: 50px;
}

.anya{
    max-width: 43.75rem;
    height: 27.563rem;
    margin-left: 400px;
    margin-bottom: 0px;
}
   .vectores{
    margin-bottom: 27px;
    margin-right: 34px;
    display: flex;
    justify-content: flex-end;
   margin-top: 40px;
   }
   .socialMedia{
    padding-left: 20px;
   }
.footer1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.form{
   
    top: 16.938rem;
    left: 50%;
}
.formGroup{
    color: #000;
    text-align: justify;
    font-family: 'Inria Serif';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: #000 solid;
    margin-left: 21.875rem;
    display: inline-block;
    padding: 50px 70px 50px 90px;
}

  .buttonSend{
        border-radius: 4px;
        background: #3D023E;
        color:#FFF;
        width: 7.563rem;
        height: 3rem;
        text-align: center;
        font-family: 'Inria Serif';
        font-size: 1.25rem;
        border-radius: 0px;
        margin-right: 0.313rem;
        
  }

.textAboutUs{
    color: #000;
    text-align: justify;
    font-family: Inria Serif;
    font-size: 1.063rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: #000 solid;
    border-radius: 0px;
    margin-right: 6.25rem;
    padding: 2.125rem;
    padding-left: 3.125rem;
}
.mikuAboutUs{
    width: 25.438rem;
    height: 33rem;
    margin-left: 4.5rem;
}