* {
  margin: 0;
  padding: 0;
  font-family: 'Inria Serif';  
}

/*---------------------------------- FIN HEADER------------------------------*/

body {
  background: linear-gradient(#EE70D1 0%, #FFF 100%);
  background-repeat: no-repeat;
}

.main-landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
}

.discount {
  color: #000;
  text-align: justify;
  font-family: Irish Grover;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border: #000 solid;
  border-radius: 7px;
  margin-left: 6rem;
  display: inline-block;
  padding: 34px;
  width: 45%;
}

.button-registration .b-regis {
  width: 20rem;
  height: 8rem;
  border-radius: 4px;
  background: #3D023E;
  margin-left: 50%;
  padding: 1rem;
}

.b-regis {
  color: #FFF;
  text-align: center;
  font-family: 'Inria Serif';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 /* margin: 0px 0px 0px 400px;*/
  margin-top: 2rem;
}

.position-1{
  display: flex;
  width: 30rem;
  height: 30rem;
}

.start-2 {
  width: 7.5rem;
  height: 7.375rem;
  position: absolute;
  margin-right: 1rem;
  top: 427px;
  right: 2rem;
  z-index: 30;
}

.miku-oferta {
  border-radius: 400px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 25em;
  height: 26em;
  margin-right: 2rem;  
}

.main-about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 50%;
}

.form {
  top: 1rem;
  display: flex;
  justify-content: center;
  width: 70rem;
  height: 30rem;
  margin-left: 10%;
}

.form-login {
  color: #000;
  text-align: justify;
  font-family: 'Inria Serif';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border: #000 solid;
  display: inline-block;
  padding: 50px 70px 50px 90px;
}

.input-form {
  padding-right: 75px;
  }
.text-form {
  color: #000;
  font-size: 20px;
}

.buttonSend {
  border-radius: 4px;
  background: #3D023E;
  color: #FFF;
  width: 7.563rem;
  height: 3rem;
  text-align: center;
  font-family: 'Inria Serif';
  font-size: 1.25rem;
  border-radius: 0px;
  margin-right: 0.313rem;
}

.text-about-us {
  color: #000;
  text-align: justify;
  font-family: Inria Serif;
  font-size: 1.063rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border: #000 solid;
  border-radius: 0px;
  margin-right: 6.25rem;
  padding: 2.125rem;
  padding-left: 3.125rem;
}

.miku-ears {
  width: 25.438rem;
  height: 33rem;
  margin-left: 4.5rem;
}

.article-about-us{
  width: 100%;
  height: 100%;
}
/* ---------------SLIDER-----------*/
.carousel {
  position: relative;
  overflow: hidden;
  margin: 5rem 5rem;
  width: 15rem;
  background:#858585 ;
  border-radius: 30px;
}

.slides-container {
  display: flex;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}
.image{
  height: 20rem;
}

.slide {
  flex: 20%; /* Tamaño deseado para las imágenes */
  max-height: 20rem; /* Altura máxima para las imágenes */
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

#prevBtn {
  left: 0;
  z-index: 200;
}

#nextBtn {
  right: 0;
}


.section-a-inicio{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.text-inicio{
  font-size: 50px;
  color: purple;
  text-shadow: 2px 2px 4px black;
}

.section-b-inicio{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.image-links{
  width: 30%;
}
.img-ofertas{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.btn-image{
  border: none;
  background-color: #dc6bc7;
  color: #FFFFFF;
  width: 9rem;
}
/* CORAZÓN */
.heart-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.heart-icon {
  color: #0f0707;
  transition: transform 0.3s ease-in-out;
  border: #000;
}

.heart-icon.active {
  transform: scale(1.2);
  color: #e74c3c;
  
}
/* FIN CORAZÓN */

/* FOOTER*/

.footer-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.figure-rabbit {
  max-width: 43.75rem;
  height: 27.563rem;
  margin-left: 100%;
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.vectores {
  margin-bottom: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;

}

.social-media {
  padding-left: 20px;
}

/* FIN FOOTER*/

@media screen and (max-width: 1023px) {

  
  .discount {
    text-align: justify;
    font-size: 30px;
    margin-left: 2rem;
    padding: 34px;
    width: 45%;
  }
  
  .button-registration .b-regis {
    margin-left: 10%;
    padding: 1rem;
  }

  .start-2 {
    width: 7.5rem;
    height: 7.375rem;
    position: absolute;
    top: 427px;
    right: 2rem;
    z-index: 30;
  }
  
  .miku-oferta {
    width: 20rem;
    height: 21rem;
    margin-right: 5rem;
  }

  .main-landing-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
  }

  .form {
    display: flex;
    justify-content: center;
    width: 53rem;
    height: 21rem;
    margin-bottom: 2rem;
  }
  
  .form-login {
  font-size: 20px;
  display: inline-block;
  padding: 20px 40px 20px 60px
  }

  .input-form {
    padding-right: 75px;
  }

  .text-form {
    color: #000;
    font-size: 15px;
  }



  .miku-ears {
    width: 20rem;
    height: 28rem;
    margin-left: 1rem;
  }
  .article-about-us{
    width: 100%;
    height: 100%;
  }

.main-about-us{
  display: flex;
  flex-direction: column;
}
.text-about-us{
  margin: 1rem 1rem;
  font-size: 20px;
}
 

  .logo-container {
    position: absolute;
    margin-left: 10px;
    margin-top: 50px;
  }

  .section-a-inicio{
    display: flex;
    flex-direction: column;
  }
  .text-inicio{
    font-size: 40px;
    }

  .section-b-inicio{
    display: flex;
    flex-direction: column;
  }
.img-ofertas{
  width: 100%;
  top: 2rem;
}

  /* FOOTER*/

  .footer-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .figure-rabbit {
    max-width: 33.75rem;
    height: 17.563rem;
    margin-left: 5rem;
    margin-bottom: 0rem;
  }

  .vectores {
    margin-bottom: 1rem;
    margin-right: 1rem;
   /* display: flex;*/
    /*justify-content: flex-end;*/
    margin-left: 1rem;
  }

  .social-media {
    width: 4rem;
    padding-left: 1rem;
  }

  /* FIN FOOTER*/

}

@media screen and (max-width: 767px) {
  .header-text {
    font-size: 3rem;
   /* margin-right: 129px;*/
   /* font-weight: 100;*/  
  }
  .show {
    display: block !important;
    font-size: xx-large;
  }

  .main-landing-page {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
    height: 50rem;
    align-items: center;
  }
.position-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.start-2 {
 left: 5rem;
}

.discount{
  width: 45%;
  margin-top: 2rem;
  margin-left: 20%;
}

.button-registration .b-regis {
  margin-left: 20%;
  padding: 1rem;
}

.form {
display: flex;
justify-content: center;
width: 22rem;
height: 21rem;
margin-bottom: 2rem;
}

.input-form {
padding-right: 75px;
}

.text-form {
  color: #000;
  font-size: 10px;
}
.article-about-us{
  margin-bottom: 2rem;
}
.section-a-inicio{
  display: flex;
  flex-direction: column-reverse;
}
.text-inicio{
  margin-top: 2rem;
  font-size: 20px;
}

.section-b-inicio{
  display: flex;
  flex-direction: column;
}

  /* FOOTER*/

  .footer-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
  }

  .figure-rabbit {
    max-width: 33.75rem;
    height: 17.563rem;
    margin-left: 5%;
    margin-bottom: 0rem;
    align-items: center;
   
  }

  .vectores {
    margin-bottom: 1rem;
  }

  .social-media {
    padding-left: 1rem;
    width: 2rem;
  }

  /* FIN FOOTER*/
}